<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <button class="nav-btn" mat-raised-button color="primary" routerLink="/publishers">Publishers</button>
    <button class="nav-btn" mat-raised-button color="primary" routerLink="/campaigns">Campaigns</button>
    <!--<a id="logo" routerLink="/publishers">Publishers</a>-->
    <!--<a id="campaign" routerLink="/campaigns">Campaigns</a>-->
    <span fxFlex></span>
    <mat-icon>person</mat-icon>
    <!--<i class="material-icons md-24">cloud</i>-->
  </mat-toolbar-row>
</mat-toolbar>
