<form (submit)="onAddCampaign(campaignForm)" #campaignForm="ngForm">
  <h1 mat-dialog-title>Create Campaign</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Name"
             title="campaign name" type="text"
             #name="ngModel"
             ngModel name="name" required>
      <mat-error *ngIf="name.invalid">*This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description"
             title="campaign description" type="text"
             #description="ngModel"
             ngModel name="description" required>
      <mat-error *ngIf="description.invalid">*This field is required.</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Price"
               title="Price" type="number"
               #price="ngModel"
               ngModel name="price" required>
        <mat-error *ngIf="price.invalid">*This field is required.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Score"
               title="Score" type="number"
               #score="ngModel"
               ngModel name="score" required>
        <mat-error *ngIf="score.invalid">*This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput placeholder="Image Url"
               title="imageUrl" type="text"
               #imageUrl="ngModel"
               ngModel name="imageUrl" required>
        <mat-error *ngIf="imageUrl.invalid">*This field is required.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button mat-raised-button color="primary" type="submit">Create</button>
  </div>
</form>
