<div fxLayout="row" class="full-height" *ngIf="affiliate$ | async; let affiliate">

    <app-affiliate-info-bar fxFlex="30" [(affiliate)]="affiliate">

    </app-affiliate-info-bar>

    <div fxFlex fxLayout="column">
        <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex></span>
            <!--<app-campaign-create-button (create)="onCreateCampaign($event)"></app-campaign-create-button>-->
        </div>
        <div fxFlex fxLayout="column">
            <app-campaign-panels fxFlex *ngIf="campaigns$ | async as campagins;"
                                 [(campaigns)]="campagins">
            </app-campaign-panels>
        </div>
    </div>
</div>


