<div fxLayout="column" class="full-height">
    <div fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex></span>
        <app-campaign-create-button (create)="onCreateCampaign($event)"></app-campaign-create-button>
    </div>
    <div fxFlex fxLayout="column" *ngIf="publisher$ | async; let publisher">
        <div fxLayout="row" fxLayoutAlign="start center">
            <h3>{{publisher._id}}</h3>
        </div>
        <!--<app-campaign-list fxFlex [(campaigns$)]="campaigns$"></app-campaign-list>-->
        <app-campaign-panels fxFlex
                             [(campaigns$)]="campaigns$" (delete)="OnDeleteCampaign($event)">

        </app-campaign-panels>
    </div>
</div>


<!--<div *ngIf="favBook$ | async as book; else loading">-->
<!--Id: {{book.id}}, Name: {{book.name}}, Category: {{book.category}}-->
<!--</div>-->
<!--<ng-template #loading>-->
<!--<img src="assets/images/loading.gif">-->
<!--</ng-template> -->


