<div fxLayout="row" class="full-height" *ngIf="publisher$ | async; let publisher">

    <app-publisher-info-bar fxFlex="30" [(publisher)]="publisher">

    </app-publisher-info-bar>

    <div fxFlex fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" class="app-toolbar">
            <span fxFlex></span>
            <app-campaign-create-button (create)="onCreateCampaign($event)"></app-campaign-create-button>
        </div>
        <app-campaign-panels fxFlex *ngIf="campaigns$ | async as campagins;"
                             [(campaigns)]="campagins"
                             (delete)="OnDeleteCampaign($event)">
        </app-campaign-panels>
    </div>
</div>


