<mat-card fxLayout="column" class="full-height" *ngIf="affiliate">
    <span class="mat-title">{{affiliate.name}}</span>
    <!--Email-->
    <div fxLayout="row" fxLayoutAlign="start center" class="margin-5">
        <mat-icon class="margin-right-5">email</mat-icon>
        <span class="mat-body-2">{{affiliate.email || 'No Email'}}</span>
    </div>
    <!--Phone-->
    <div fxLayout="row" fxLayoutAlign="start center" class="margin-5">
        <mat-icon class="margin-right-5">phone</mat-icon>
        <span class="mat-body-2">{{affiliate.phone || 'No Email'}}</span>
    </div>
    <!--Address-->
    <div fxLayout="row" fxLayoutAlign="start center" class="margin-5">
        <mat-icon class="margin-right-5">place</mat-icon>
        <span class="mat-body-2">{{affiliate.address || 'No Email'}}</span>
    </div>
</mat-card>

